/*******************************************/
/*

 written by alex kalas, ajax762@hushmail.com

*/
/*******************************************/


body{
background:url() 50% 50% #000000;
	color:#ababab;
font-family:"Lucida Console", Monaco, monospace,Times New Roman,Times,serif; 

	font-size:100%;
	margin:0px;
	padding:0px;
}
.r{
float:right;
margin:8px;
clear:both;
}

.l {
float:left;
margin:8px;
clear:both;

}

blockquote{
font-family:"Times New Roman",Georgia,Serif;
font-size:110%;
margin:30px 75px 30px 75px;
padding:5px;
text-indent:3em;
color:#ddaa00;
border:1px solid #676767;
text-indent:2em;
background-color:#000000;

}
#uiid{
font-size:60%;
}
#hidden{

background-color:#000;
color:#000;

}
#hidden img{
clear:both;
width:2%;
}
#hidden:hover{
color:#aa0;
}
#hidden img:hover{
clear:both;
width:auto;

}


h1{
	text-transform:uppercase;
	font-family:impact, serif;
 -webkit-text-shadow: -1px 0 1px #000, 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000;
-moz-text-shadow: -1px 0 1px #000, 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000;
text-shadow: -1px 0 1px #000, 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000;
color:#ee9900;

}
h2{
	font-size:145%;
		font-family:impact, serif;
	text-shadow: 4px 1px 1px #000;

	color:#00CC00;
}
h3{
	font-weight:bold;
	font-family:serif;
	text-shadow: 4px 3px 3px #000;

		font-size:120%;
		color:#33D633;
}
h4{
	font-weight:bold;
	font-family:impact,serif;
	font-style:;
	font-size:125%;
	text-shadow: 4px 4px 2px #000;
		line-height:0px;
		color:#80CC80;
}

.transparent_class {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;
}
a:link {
	color:#2572ff;
	text-decoration:none;
}
a:hover {
	color:#ffb225;
		text-decoration:underline;
}
a:visited{
	color:#ffb225;
	text-decoration:underline;
}

p{
	text-indent:3em;
	line-height:130%;
	
}

.subject{
text-indent:3em;
font-size:150%;
color:#33ee33;
text-shadow: 8px 2px 2px #000, 3px 3px 5px #660;
}

.fileupload{

background-color:#500;
margin:10px;
}

ul.square {
	list-style-type:square;
	}

ol.rules{
list-style-type:decimal;
}



.post {
border:1px solid #444444;
padding:6px;
margin:0px 0px 0px -7px;
text-align:left;
background-color:#2c2c2c;
color:#cacaca;

vertical-align:top;
word-wrap: break-word;
box-shadow: 2px 2px 3px #444444;
max-width:100%;
overflow:auto;
float:left;
display:inline-block;
clear:both;
}


.post0 {
box-shadow: 2px 2px 3px #444444;
border:1px solid #444;
padding:6px;
margin:0px 0px 0px -7px;
text-align:left;
word-wrap: break-word;
vertical-align:top;
max-width:100%;
overflow:auto;
float:left;
display:inline-block;
clear:both;
}


.post0 img, .post img{
max-width:300px;

}
.post0 img:hover, .post img:hover{

max-width:100%;

}

.viewboards {
width:43%;
float:left;
margin:8px 8px 8px 15px;
display:block;
}
.viewboards a:link{
text-decoration:none;
}

.viewboards a:hover,.viewboards a:visited{
text-decoration:none;
}

.viewboards_post {

box-shadow: 2px 2px 3px #444444;
border:1px solid #444;
padding:6px;
margin:0px 0px 8px -7px;
text-align:left;
word-wrap: break-word;
vertical-align:top;
max-width:100%;
overflow:auto;
float:left;
display:inline-block;
clear:both;
}

.viewboards_lastactivity {

float:right;font-size:130%;text-shadow: -2px -2px 30px #000;color:#84a293;letter-spacing:0px;font-family:impact;line-height:22pt;margin:-10px 1px 1px 15px;vertical-align:bottom;
}


.firstpost{
padding:0px;

}


.post .usernamecolor,.post0 .usernamecolor{
	color:#cc9944;
}



.post .post_infobar,.post0 .post_infobar{
	float:top;
	vertical-align:top;


}
.postform{
	display:block;
	border:0px solid #404040;
	width:520px;
	clear:both;
	
	padding:5px;
margin:5px auto 10px auto;
}
.postform #name:hover,.postform #subject:hover,.postform #comment:hover,.postform #password:hover,.postform #captcha:hover{
color:#aaaddd;
}
.postform #name{
	width:470px;
font-size:12pt;
background-color:#101010;
border:1px solid #333444;
margin:5px 0px 0px 0px;
color:#dddddd;
}
.postform #file{
font-size:12pt;
background-color:#090909;
border:1px solid #333444;
margin:5px 0px 0px 0px;
color:#dddddd;
}
.postform #submit{
font-size:12pt;
background-color:#101010;
border:1px solid #333444;
margin:5px 0px 0px 0px;
color:#dddddd;
}
.postform #submit:hover{
font-size:12pt;
background-color:#101020;
border:1px solid #333444;
margin:5px 0px 0px 0px;
color:#dddddd;
}
.postform #subject{
	width:400px;
	font-size:12pt;
	background-color:#101010;
	border:1px solid #333444;
margin:5px 0px 0px 0px;
color:#dddddd;
margin-right:10px;
}
.postform #comment{
	width:470px;
	height:125px;
	font-size:12pt;
	background-color:#101010;
		border:1px solid #333444;
margin:5px 0px 0px 0px;
color:#dddddd;
}
.postform #password{
	width:50px;
	font-size:12pt;
	background-color:#101010;
		border:1px solid #333444;
margin:5px 0px 0px 0px;
color:#dddddd;
}
.postform #captcha{
	width:150px;
	font-size:12pt;
	background-color:#101010;
	border:1px solid #333444;
margin:5px 0px 0px 0px;
color:#dddddd;
}

.wrap {
-moz-border-radius: 25px 10px / 10px 25px;
border-radius: 25px 10px / 10px 25px;
background-color:#1a1a1a;
text-align:left;
width:96%;
display:block;
padding:5px;
margin:0px auto 100px auto;
border:1px solid #333;
min-width:480px;
}


.footer{
	min-height:200px;
	text-align:center;
	background-color:#101010;
	border-top:1px solid #333;
}
.footer a:link{
color:#ccc;
}
.footer a:hover,.footer a:visited{
text-decoration:underline;
color:#ccc;
}
.footer ul li {
		list-style: none; 
		list-style-type:none;
		text-align:left;
		max-width:195px;
		width:155px;

		border-right:0px solid #000;
}
#posthelp{
display:none;

}

.footer ul{
	float:left;
	margin:0px;
		padding:5px 0px 0px 0px;
}


    a.goup {
        display:block;
        width:228px;
        height:49px;
        background:url(btn_sprite.gif) 0 0 no-repeat;
        text-indent:-999em;    
    }
        
    a.goup:hover {
        background:url(btn_sprite.gif) 0 -51px no-repeat;
    }
	
	
.clear{
	clear:both;
}

.success{
color:#333;
background-color:#010;
margin:5px;
}
.success :hover{
color:#333;
background-color:#020;
margin:5px;
}

.error,.warning{
color:#f00;
background-color:#100;
margin:5px;
}
.error:hover,.warning:hover{
color:#f90;
background-color:#400;
}

.captcha{

color:#0066cc;
}

.staff_help{
margin:5px;
color:#fe0;
border:1px solid #334443;
}
.staff_terminal{
	color:#0c0;
	font-family:#verdana;
	font-size:150%;
	background-color:#000000;
	border:1px solid #334443;
}
.staff_terminal:hover{
	color:#0a0;
	font-family:#verdana;
	font-size:150%;
	background-color:#000000;
}

/*
#banner{
-moz-border-radius: 25px 10px / 10px 25px;
border-radius: 25px 10px / 10px 25px;
text-shadow: 4px 1px 1px #000;
background:url() 50% 40% # repeat;
	height: 0px; 
padding:0px;
margin:0px 0px 0px 0px;
clear:both;
text-align:center;
vertical-align:center;
font-size:200%;
font-family:impact;
color:#77ee77;

}
#banner img{
z-index:0;
}

*/
#header { 
padding:5px;
margin:0px 0px 15px 0px;

} 



#left_nav {
width:225px;
overflow:auto;

}


#nav {  


	/*font-family:"georgia", serif; 
	float:; 
*/
padding:0px;
	margin:0px 0px 0px 0px;
	
	
}
.content {  

min-height:255px;
word-wrap: break-word;


padding:5px;
margin:44px 0px 0px 0px;

}


#nav li { 
	list-style: none; 
	float: left; 
min-width:150px;
	height: 30px; 
	line-height: 30px; 
	text-align: center;
background-color:#1a1a1a;
z-index:5;
position:relative;
font-size:150%;

} 
#nav li a { 
	color: #ffb225; 
	text-decoration: none; 
	display: block; 
z-index:6;

} 
#nav li a:hover { 
	color:#2572ff;
	background-color: #101010; 
}

/* fixed position good for bottom messaging texts*/

.index_feedstaffupdates{
	float:right;
	margin:10px;
	padding:5px;
	border:1px solid #111;
	clear:right;
	width:200px;
	height:500px;
	vertical-align:top;


}



@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
   /* CSS overrides for mobile here */

}




